<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #heading{
            display: flex;
            height: 20px;
            

        }
        #dash{
            width: 90%;

            text-align: center;
        }
        #butt{
            width: 10%;
        
        }

    </style>
</head>
<body>
    <div id="heading">
        <div id="dash">
            <h1 style="padding-left: 5%;">DASHBOARD</h1>
        </div>
        <div id="butt">
            <button type="submit" style="float: right;" onclick="window.location.href='/login_page/'">
                <b>Login</b>
            </button>
        </div>
        
        
    </div>
    <div>

    </div>
    <div></div>
</body>
</html>